<!-- Details 2 -->
<section class="details my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-container p-5">
          <img ngSrc="assets/images/author.png" width="500" height="664" priority alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="text-container d-flex flex-column justify-content-center h-100"
        >
          <h2 class="display-6">Craft Remarkable Content</h2>
          <p>
            Discover techniques for effective storytelling, engaging
            visuals, and compelling calls-to-action. Unlock the secrets of
            creating a consistent and authentic brand voice that sets you
            apart from the competition.
          </p>
          <ul class="list-group list-group-flush lh-lg">
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Embrace Your Unique Voice:</strong> Learn how to
              harness the power of your unique voice.
            </li>
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Spark Creativity:</strong> Explore techniques to spark
              creativity and overcome writer's block.
            </li>
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Engage Your Readers:</strong> Discover strategies for
              creating content that engages your readers on a deeper level.
            </li>
          </ul>
          <a
            class="btn btn-primary text-white mt-4 align-self-start"
            data-bs-toggle="modal"
            data-bs-target="#modal2"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
