<!-- Details -->
<section id="details" class="details my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="text-container d-flex flex-column justify-content-center h-100">
          <h2 class="display-6">Unlock Your Blogging Potential</h2>
          <p>
            Are you ready to unleash your true blogging potential? Our
            ebook, "Blog Mastery," provides you with the tools and knowledge
            to take your blog to the next level.
          </p>
          <ul class="list-group list-group-flush lh-lg">
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Unleash Your Creativity:</strong>  Our ebook empowers
              you to unleash your creativity and express your unique voice
              through your blog.
            </li>
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Maximize Your Reach:</strong> Learn how to optimize
              your blog for search engines.
            </li>
            <li class="list-group-item">
              <i class="fas fa-square text-primary"></i>
              <strong class="ms-1">Monetization strategies:</strong> Discover various
              monetization strategies, such as sponsored content & affiliate
              marketing.
            </li>
          </ul>
          <a
            class="btn btn-primary text-white mt-4 align-self-start"
            data-bs-toggle="modal"
            data-bs-target="#modal1"
          >Get Your Copy Now</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="image-container p-5">
          <img ngSrc="assets/images/description.png" priority width="505" height="674" alt="" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</section>
