    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" [ngClass]="onViewportScroll()">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <img ngSrc="assets/images/logo.png" width="400" height="26.4" alt="" width="225">
        </a>
        <button
        class="navbar-toggler"
        type="button"
        (click)="onMenuClicked()"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link fw-semibold">Home</a>
          </li>
          <li class="nav-item">
            <a href="#details" class="nav-link fw-semibold">Details</a>
          </li>
          <li class="nav-item">
            <a href="contact.html"
              class="borderNav nav-link btn btn-outline-light fw-semibold px-4 mx-4 "
              >Contact</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>
